.wrapper{
    border:2px solid green;
    border-radius: 5px;
}

body{
    text-align: center;
}

form{
    width:50%;
    margin: auto;
}

form > label{
    display: block;
}

form > input{
    display: block;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    margin: auto;
}

.btns{
    text-align: center;
    margin: auto;
    width: 70%;
}

.cancel{
    color: white;
    background-color: skyblue;
    font-size: 1.5em;
    margin: auto;
    width: 25%;
    display: inline-block;
}

#submit{
    color: white;
    background-color: skyblue;
    font-size: 1.5em;
    margin: auto;
    width: 25%;
    display: inline-block;
}

.err{
    color: red;
    font-weight: bold;
}