<p>
  login register works!
</p>
<div class="wrapper">
    <h1>Register</h1>
    <form action="/blog/login_register/register" method="POST">
        <div><label for="first_name">First Name:</label><input id="name" type="text" name="first_name"></div>
        <div><label for="last_name">Last Name:</label><input id="quote" type="text" name="last_name"></div>
        <div><label for="password">Password:</label><input id="quote" type="password" name="password"></div>
        <div><label for="email">Email:</label><input id="quote" type="text" name="email"></div>
        <input type="submit" value="Register!" id="register">
    </form>

    <h1>Login</h1>
    <form action="/blog/login_register/login" method="POST">
        <div><label for="email">Email:</label><input id="quote" type="text" name="email"></div>
        <div><label for="password">Password:</label><input id="quote" type="password" name="password"></div>
        <input type="submit" value="Login!" id="login">
    </form>

</div>